<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/springbeans.xsd">

	<bean id="xmlDefinedBean" class="sample.apollo.api.XmlDefinedBean">
		<property name="name" value="${name}"/>
		<property name="value" value="${value}"/>
		<property name="version" value="${version}"/>
	</bean>

</beans>
